{% extends 'all/index.html.twig' %}

{# this form theme will be applied only to the form of this template #}
{% form_theme formBuilder with ['foundation_5_layout.html.twig', _self] only %} {# only disable other themes #}
{#% form_theme form.a_child_form 'form/my_custom_theme.html.twig' %#}

{#
    all fields of the same type (e.g. all <textarea>)
        use the fieldtype_fieldpart (e.g. textarea_widget, datetime_row, ...)

    only one specific field (e.g. the <textarea> used for the description)
        use the _classname_fieldid_fieldpart pattern (e.g. _class_myfield_part, _product_customname_errors, ...)

    use "block_name" and "block_prefix", options

    parents fallback:
        ... textarea_widget => text_widget => form_widget
#}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form is not rootform %}<small class="error">{% else %}<div data-alert class="alert-box alert">{% endif %}
        {%- for error in errors -%}
            {{ error.message|replace({'value': 'value "'~error.cause.propertyPath~'"'}) }}
            {% if not loop.last %}, {% endif %}
        {%- endfor -%}
        {% if form is not rootform %}</small>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block wrapper %}

    {#{ parent() }#}
    {%~ if data is defined %} {# ~ remove only whitespaces #}
        {{ dump(data) }}
    {% endif -%} {# - remove whitespaces and \n #}

    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>

    <p>
        <h3>FormBuilder</h3>
        <p class="alert alert-info">{% for message in app.flashes('info') %}{{ message }}{% endfor %}</p>
        <ul class="alert alert-warning">
            {% if submitted is defined and submitted is not null %}
                <li> username: {{ submitted.username }} </li>
                <li> email: {{ submitted.email }} </li>
            {% endif %}
        </ul>
        <p>
            {{ form(formBuilder) }}
        </p>
    </p>

{% endblock %}