{% extends 'all/index.html.twig' %}

{% block wrapper %}

    {#{ parent() }#}
    {% if data is defined %}
        {{ dump(data) }}
    {% endif %}

    <p>
        Form: 
            {{ form_start(form, {'action': path('app_application_form_index'), 'method': 'GET'}) }}
                {{ form_errors(form) }}
                {#{ form_label(form) }#}
                {{ form_widget(form) }}
                {#{ form_rows(form.created_at) }#}
            {{ form_end(form) }}
        <br/>
        FormBuilder: {{ form(formBuilder) }}
        <br/>
        CustomFormBuilder: {{ form(customFormBuilder) }}
    </p>

{% endblock %}