{% extends 'all/index.html.twig' %}

{% block wrapper %}

    {#{ parent() }#}
    {% if data is defined %}
        {{ dump(data) }}
    {% endif %}

    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>

    <p>
        Form: {# debug: 'attr': {'novalidate': 'novalidate'} #}
            {{ form_start(form, {
                    'action': path('app_application_form_index'), 
                    'method': 'GET',
            }) }}
                {{ form_errors(form) }}
                {#{ form_label(form) }#}
                {{ form_widget(form) }}
                {#{ form_rows(form.created_at) }#}
            {{ form_end(form) }}
        <br/>
        FormBuilder: {{ form(formBuilder) }}
        <br/>
        CustomFormBuilder: {{ form(customFormBuilder) }}
    </p>

{% endblock %}