{% extends 'layout.html.twig' %}

{# can use parent() on existing block #}
{% use 'form_div_layout.html.twig' with 
    form_widget_compound as base_form_widget_compound,
    range_widget as base_range_widget
%}

{# MANDATORY TO OVERRIDE BLOCKS_PREFIXES #}
{#% form_theme form _self %#}
{% form_theme form with [
    'basics/custom/range_theme.html.twig',
    _self
] %}
{# -mandatory #}

{% block form_widget %}
    {# can use parent() on existing block (with "use templatefile.twig" keyword) #}
    {{ parent() }}
    <em>form-widget-override!</em>
{% endblock %}

{% block integer_widget %} {# only errors for datetime values #}
    <em>test</em> {{ parent() }}
{% endblock %}

{% block _user_agreeTerms_widget %} 
    {# every param will be "form" #}
    {% set agreeTerms = form %}

    {# CAN'T use parent() on specific block #}
    {{ form_widget(agreeTerms) }}

    {# 
        "id" => "my_typped_block_prefix_username"
        "full_name" => "my_typped_block_prefix[username]"
        "unique_block_prefix" => "_my_typped_block_prefix_username"
        "cache_key" => "_my_typped_block_prefix_username_text"
        "block_prefixes" =>
            0 => "form"
            1 => "text"
            2 => "special_field_prefix"
            3 => "_my_typped_block_prefix_username"
    #}
    <em> -custom-agree-terms- </em>
{% endblock %}

{% block customrangeblockprefix_help %} {# block_prefix => special_field_prefix #}
    {#{ form_widget(formBuilder, {'attr': {'v-model': 'color', '@focus': 'open'}}) }#}
    {# ... more custom code here ... #}
    
    <em>-customrange-theme-</em>
    
{% endblock %}

{% block _user_custom_file_widget %}
    <{{ element|default('div') }} class="custom-file">
        {%- set type = type|default('file') -%}
        {{- block('form_widget_simple') -}}
        {%- set label_attr = label_attr|merge({ class: (label_attr.class|default('') ~ ' custom-file-label')|trim }) -%}

        <label for="{{ form.vars.id }}" {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
            <img width=30 height=30 src="{{ image_file_fromext }}" style="float:left"/>
            {%- if attr.placeholder is defined and attr.placeholder is not none -%}
                {{- translation_domain is same as(false) ? attr.placeholder : attr.placeholder|trans({}, translation_domain) -}}
            {%- endif -%}
        </label>
    </{{ element|default('div') }}>
{% endblock _user_custom_file_widget %}

{% block wrapper %}

    {#{ parent() }#}
    {%~ if data is defined %} {# ~ remove only whitespaces #}
        {{ dump(data) }}
    {% endif -%} {# - remove whitespaces and \n #}

    <p>
        <h3>Form user</h3>
        <p>
        {# debug: 'attr': {'novalidate': 'novalidate'} #}
            {{ form_start(form, {
                    'action': path('app_application_basics_form'), 
                    'method': 'POST',
            }) }}
                {% if form is rootform %}
                    {{ form_errors(form) }}
                {% endif %}

                {# SAMPLE #}
                {# {{ form.title.vars.value }} #}

                {# block_prefixes => form / text / _user_username #}
                {{ form.username.vars.required ? 'req' }}
                {{ form_label(form.username, 'Username ',
                    {'label_attr': {'class': 'its_foo'}}
                ) }}
                {{ form_widget(form.username, 
                    {'attr': {'class': 'my_widget_username_class'}}
                ) }}
                <br/><em>{{ 'User id:'~form.username.vars.id }}</em>
                <br/>
                {{ form_help(form.username) }}
                <br/>
                <em> username.prefixes: {{ form.username.vars.block_prefixes|join('|') }}</em>

                {{ form_row(form.created_at) }} {# prefix: _user_my_int #}

                {{ form_row(form.choice) }} {# prefix: _user_my_int #}
                {{ form_row(form.my_int) }} {# prefix: _user_my_int #}
                {{ form_row(form.agreeTerms, {'label': 'Agree terms'}) }} {# row: label + widget #}
                {{ form_row(form.rangefield) }}

                {# form_rest(form) #}
                <button id="form_twig_submit" type="submit">Save this</button>
            {{ form_end(form, {render_rest: true}) }}
        </p>
    </p>

{% endblock %}