{% extends 'layout.html.twig' %}

{% block wrapper %}

    {% if myvar is defined %}
        <p>
            1.{{ myvar|raw~myvar2 }}-
            2.{{ myvar|raw|upper }}-
            3.{{ myvar|upper|lower|raw }}- {# raw: need to be the last one to not escaping values #}

            Route: {{ app.request.attributes.get('_route') }}
        </p>
    {% endif %}

{% endblock %}

{% block bon '' %}

{% block test %}
    {{ block('bon') }}
    {{ block('test', 'base.html.twig') }}
{% endblock %}

{% block loops %}
    {% set maxItems = 10 %}

    {% with { maxItems: 5 } %}
        {% for i in 1..maxItems %}
            {# ... #}
        {% endfor %}
    {% endwith %}

    {% for j in 1..maxItems %}
        {# ... #}
    {% endfor %}
{% endblock %}