{% extends 'layout.html.twig' %}
{% set myvar = "<div>it's</div>" %}
{% set myvar2 = "<div>exact</div>" %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block wrapper %}

    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/src/Controller/' ~ controller_name ~ 'Controller.php'|file_link(0) }}">src/Controller/{{ controller_name }}.php</a></code></li>
    </ul>

    <p>
        {% if data is defined %}
            {{ dump(data) }}
        {% endif %}
    </p>

    {% block body_content '' %}

{% endblock %}
